/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: $font-size-base;
  color: $color-body-text;
}

h1 {
	margin: 0;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.shopify-section {
	margin-bottom: ($gutter * 3);

	@extend .page-width;
}

/*================ Section styles ================*/

/*==== Intro section styles ====*/

.intro-section--container {
	display: flex;

	@include media-query($medium-down) {
		display: block;
	}

	> div {
		flex-basis: 50%;
	}

	.intro-section__image {
		padding-right: ($gutter * 3);
		text-align: center;

		@include media-query($medium-down) {
			padding: 0;
			margin-bottom: ($gutter * 2);
		}
	}

	.intro-section__header {
		font-size: 4em;
		letter-spacing: -2.6px;
		font-weight: $font-weight-extrabold;
		color: $color-header-text;
		margin-bottom: ($gutter * 2);
	}

	.intro-section__body {
		font-size: 1.11em;
		line-height: 2.05em;
	}
}

/*==== Variant grid section styles ====*/

.variant-grid--container {
	text-align: center;

	p {
		font-size: 0.778em;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: $font-weight-bold;
	}
}

/*==== Video section styles ====*/

.video-embed {
	width: 100%;
	display: block;
	object-fit: initial;
	margin: 0 auto;
	border-radius: 12px;
}

/*==== Features list section styles ====*/

.feature--container {
	display: flex;
	align-items: center;

	@include media-query($small) {
		flex-direction: column-reverse;
	}

	@include media-query($medium-up) {
			> * {
			flex-basis: 50%;
		}
	}
}

@include media-query($medium-up) {
	.feature--container:nth-child(even) {
		flex-direction: row-reverse;
	}
}

.feature--container + .feature--container {
	margin-top: $gutter;
}

.feature__text {
	@include media-query($medium-up) {
		padding: 0 ($gutter * 2);
	}

	.feature__text__header {
		font-weight: $font-weight-bold;
		font-size: 1.11em;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: ($gutter / 2);
	}
}

.feature__image {
	text-align: center;

	@include media-query($small) {
		margin-bottom: $gutter;
	}
}

/*==== Text container section styles ====*/

.text-container--container {
	background-color: $color-primary;
	border-radius: 12px;
	padding: ($gutter * 3) $gutter;

	.text-container__inner {
		width: 50%;
		margin: 0 auto;
		max-width: 400px;

		@include media-query($small) {
			width: 100%;
		}
	}

	img {
		max-width: 60%;
	}
}
