/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: $font-size-base;
  color: $color-body-text;
}

h1 {
	margin: 0;
}

h2 {
	text-transform: uppercase;
	font-size: 1.625em;
	letter-spacing: 0.11em;
	margin-top: 0;
	margin-bottom: $gutter;
}

a {
	color: $color-primary;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.shopify-section {
	margin-bottom: ($gutter * 3);

	@extend .page-width;
}

::selection {
	background: $color-primary;
	color: $color-body;
}

/*================ Template styles ================*/

/*==== Page template styles ====*/

.page-container {
	max-width: (540px + ($gutter * 2));
	margin: 0 auto ($gutter * 2);
	padding: 0 $gutter;
	line-height: 2em;

	img {
		border-radius: 12px;
		max-width: 100%;
	}
}

/*==== Collection template styles ====*/

.collection-container {
	@extend .shopify-section;

	header {
		text-align: center;
		margin-bottom: $gutter;
	}

	.collection__item {
		text-align: center;

		img {
			border-radius: 12px;
		}

		a {
			text-decoration: none;
			color: $color-body-text;
		}

		p {
			text-transform: uppercase;
			letter-spacing: 0.07em;
			font-weight: $font-weight-bold;
			text-align: center;
		}

		p.collection__item--price {
			font-size: 0.875em;
		}
	}
}

/*==== Cart template styles ====*/

.cart-container {
	margin: 0 auto ($gutter * 4);
	padding: 0 $gutter;

	h2 {
		text-align: center;
	}

	table {
		margin: ($gutter * 2) auto;

		thead {
			display: none;
		}

		td {
			padding: ($gutter / 2);
		}

		.cart__product-title {
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $color-body-text;
			text-decoration: none;
		}

		.cart__variant-title {
			opacity: 0.6;
			font-size: 0.8125em;
			margin: 1em 0 0.5em;
		}

		input[type="number"] {
			max-width: 50px;
			outline: none;
			border: 2px solid $color-body-text;
			border-radius: 12px;
			padding: 0.5em 0.25em;
			text-align: center;
		}

		.cart__total-price {
			font-weight: $font-weight-bold;
			letter-spacing: 0.125em;
		}

		img {
			max-width: 100px;
			border-radius: 12px;
		}
	}

	.cart__checkout-section {
		display: flex;
		justify-content: center;

		@include media-query($small) {
			display: block;
			text-align: center;
		}

		.cart__checkout-section__checkout-info {
			font-size: 0.875em;
			margin-right: ($gutter * 2);

			@include media-query($small) {
				margin-right: 0;
				margin-bottom: $gutter;
			}

			> div {
				margin-bottom: 1em;
			}

			.cart__checkout-section__subtotal {
				font-size: 1.0625em;
			}

			textarea[name="note"] {
				display: block;
				border: 2px solid $color-body-text;
				outline: none;
				border-radius: 12px;
				padding: 0.5em;
				font-family: inherit;
				margin: 0.5em 0 0;
			}
		}

		input[name="update"] {
			border: none;
			outline: none;
			background: none;
			font-family: inherit;
			padding: 0 1em;
			margin: 0;
		}

		input[name="checkout"] {
			font-size: 0.8125em;
			letter-spacing: 0.175em;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			padding: 1.75em 5em;
			line-height: 1em;
			background: $color-primary;
			color: $color-header-text-lightened;
			border-radius: 12px;
			border: none;
			outline: none;
		}
	}

	.supports-cookies, .supports-no-cookies {
		text-align: center;
	}
}

/*================ Section styles ================*/

/*==== Intro section styles ====*/

.intro-section--container {
	display: flex;

	@include media-query($medium-up) {
		padding: 0 $gutter;
	}

	@include media-query($medium-down) {
		display: block;
	}

	> div {
		flex-basis: 50%;
	}

	.intro-section__image {
		padding-right: ($gutter * 3);
		text-align: center;

		@include media-query($medium-down) {
			padding: 0;
			margin-bottom: ($gutter * 2);
		}
	}

	.intro-section__header {
		font-size: 5em;
		letter-spacing: -0.036em;
		font-weight: $font-weight-extrabold;
		color: $color-header-text;
		margin-bottom: ($gutter * 2);
		line-height: 0.9em;

		@include media-query($small) {
			font-size: 3.75em;
			margin-bottom: $gutter;
		}
	}

	.intro-section__body {
		font-size: 1.125em;
		line-height: 2.27em;

		p {
			margin-bottom: 1.5em;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		strong {
			text-transform: uppercase;
			letter-spacing: 0.1125em;
		}

		@include media-query($medium-down) {
			font-size: 1em;
			line-height: 1.75em;
		}
	}
}

/*==== Variant grid section styles ====*/

.variant-grid--container {
	text-align: center;

	a {
		text-decoration: none;
		color: $color-body-text;
	}

	img {
		border-radius: 12px;
	}

	p {
		text-transform: uppercase;
		letter-spacing: 0.07em;
		font-weight: $font-weight-bold;
	}
}

/*==== Embed section styles ====*/

.embed-container {
	border-radius: 12px;
	overflow: hidden;

	iframe,
	object,
	video,
	embed {
		border-radius: 12px;   
	}
}

/*==== Features list section styles ====*/

.feature--container {
	display: flex;
	align-items: center;

	@include media-query($small) {
		flex-direction: column-reverse;
	}

	@include media-query($medium-up) {
			> * {
			flex-basis: 50%;
		}
	}
}

@include media-query($medium-up) {
	.feature--container:nth-child(even) {
		flex-direction: row-reverse;
	}
}

.feature--container + .feature--container {
	margin-top: ($gutter * 2);
}

.feature__text {
	@include media-query($medium-up) {
		padding: 0 ($gutter * 2);
	}

	.feature__text__header {
		font-weight: $font-weight-bold;
		font-size: 1.25em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: ($gutter / 2);
	}

	.feature__text__body {
		line-height: 1.75em;
	}
}

.feature__image {
	text-align: center;

	img {
		border-radius: 12px;
	}

	@include media-query($small) {
		margin-bottom: $gutter;
	}
}

/*==== Text container section styles ====*/

.text-container--container {
	background-color: $color-primary;
	border-radius: 12px;
	padding: ($gutter * 3) $gutter;
	line-height: 1.75em;
	/* color is defined in section template */

	.text-container__inner {
		width: 50%;
		margin: 0 auto;
		max-width: 400px;

		@include media-query($small) {
			width: 100%;
		}
	}

	img {
		max-width: 60%;
	}
}

/*==== Product section styles ====*/

.product--container {
	.product__top-container {
		display: flex;
		align-items: center;

		@include media-query($small) {
			display: block;
		}

		.product__photos-column {
			flex-basis: 60%;

			img {
				border-radius: 12px;
				margin-bottom: $gutter;
				border: 2px dashed $color-header-text-sortalightened;
			}
		}

		.product__info-column {
			flex-basis: 40%;

			@include media-query($medium-up) {
				padding-left: $gutter;
			}

			h2 {
				margin-bottom: 0;
			}

			.product__product-title--container {
				text-align: center;
				margin-bottom: ($gutter / 2);
			}

			.product__price--wrapper {
				text-align: center;
				margin-bottom: ($gutter / 2);
				font-size: 1.25em;
			}

			.product__offers {
				margin: ($gutter / 2) 0 ($gutter * 2);

				label {
					margin-bottom: 0.25em;
					display: block;
				}

				select {
					width: 100%;
					border: 2px solid $color-header-text-sortalightened;
					outline: none;
					padding: ($gutter / 2);
					border-radius: 4px;
					font-family: inherit;
					margin-bottom: ($gutter / 2);
				}

				input[type="number"] {
					display: block;
					width: 100%;
					border: 2px solid $color-header-text-sortalightened;
					outline: none;
					padding: ($gutter / 2);
					border-radius: 4px;
					font-family: inherit;
					margin-bottom: ($gutter / 2);
				}

				button[name="add"] {
					display: block;
					width: 100%;
					padding: ($gutter / 2);
					background: $color-primary;
					outline: none;
					border: none;
					text-transform: uppercase;
					letter-spacing: 0.125em;
					font-size: 0.8125em;
					font-weight: $font-weight-bold;
					color: $color-header-text-lightened;
					border-radius: 4px;
				}
			}
		}
	}

	.product__description {
		line-height: 1.75em;
		max-width: (540px + ($gutter * 2));
		margin: ($gutter * 2) auto 0;
	}
}

/*==== Footer section styles ====*/

footer {
	margin-bottom: ($gutter * 3);
}

.footer--content {
	display: flex;
	justify-content: center;

	@include media-query($medium-down) {
		flex-wrap: wrap; /* So that the logo container can have its own row */
		padding-top: 0 !important; /* to reset the offset style in footer.liquid */
	}

	.footer__item {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 50%;
		font-size: 0.875em;
		line-height: 1.75em;

		@include media-query($small) {
			flex-basis: 100%;
			text-align: center;
		}

		.footer__item__header {
			font-size: 0.9375rem;
			letter-spacing: 0.13em;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			margin-bottom: ($gutter / 4);

			@include media-query($small) {
				margin-top: $gutter;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		a {
			color: $color-body-text;
			text-decoration: none;
		}
	}

	.footer__item--logo-container {
		text-align: center;
		margin-left: ($gutter * 2);
		margin-right: ($gutter * 2);
		margin-bottom: $gutter; /* margins declared separately for offset style in footer.liquid to work */
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;

		@include media-query($medium-down) {
			flex-basis: 100%;
			margin-top: 0; /* to reset the offset style in footer.liquid */
		}

		@include media-query($small) {
			margin-bottom: 0;
		}
	}

	.footer__item--links-container {
		display: flex;
		justify-content: space-evenly;
		order: -1;

		@include media-query($medium-down) {
			order: 0;
			padding: 0 $gutter;
		}

		@include media-query($small) {
			padding: 0;
			display: block;
		}

		@include media-query($medium-up) {

		}
	}

	.footer__item__social-links {
		@include media-query($medium-up) {
			margin-left: ($gutter * 2);	
		}

		li:after {
			content: '\2197 \FE0E';
		}
	}

	.footer__item--newsletter-container {
		#mc_embed_signup_scroll {
			position: relative;
			margin-bottom: ($gutter / 2);
			max-width: 320px;
		}

		.email-label {
			display: none;
		}

		input[type="email"] {
			padding: 1em;
			width: 100%;
			border: 2px solid $color-header-text;
			outline: none;
		}

		.button {
			position: absolute;
			top: 0;
			right: 0;
			background: $color-header-text;
			border: none;
			outline: none;
			height: 100%;
			color: $color-header-text-lightened;
			padding: 0 1em;
			text-transform: uppercase;
			letter-spacing: 0.0625em;
		}

		@include media-query($medium) {
			padding: 0 $gutter;
		}

		@include media-query($small) {
			#mc_embed_signup_scroll {
				margin-left: auto;
				margin-right: auto;
				max-width: 400px;
			}
		}
	}
}

.footer__bottom {
	text-align: center;
	font-size: 0.8125em;
	line-height: 1.85em;
	margin-top: $gutter;
}
