/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: $font-size-base;
  color: $color-body-text;
}

h1 {
	margin: 0;
}

h2 {
	text-transform: uppercase;
	font-size: 1.625em;
	letter-spacing: 0.11em;
	margin-bottom: $gutter;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.shopify-section {
	margin-bottom: ($gutter * 3);

	@extend .page-width;
}

/*================ Template styles ================*/

/*==== Page template styles ====*/

.page-container {
	max-width: (540px + ($gutter * 2));
	margin: 0 auto ($gutter * 2);
	padding: 0 $gutter;
	line-height: 2em;

	img {
		border-radius: 12px;
		max-width: 100%;
	}
}

/*==== Cart template styles ====*/



/*================ Section styles ================*/

/*==== Intro section styles ====*/

.intro-section--container {
	display: flex;

	@include media-query($medium-up) {
		padding: 0 $gutter;
	}

	@include media-query($medium-down) {
		display: block;
	}

	> div {
		flex-basis: 50%;
	}

	.intro-section__image {
		padding-right: ($gutter * 3);
		text-align: center;

		@include media-query($medium-down) {
			padding: 0;
			margin-bottom: ($gutter * 2);
		}
	}

	.intro-section__header {
		font-size: 5em;
		letter-spacing: -0.036em;
		font-weight: $font-weight-extrabold;
		color: $color-header-text;
		margin-bottom: ($gutter * 2);

		@include media-query($small) {
			font-size: 3.75em;
		}
	}

	.intro-section__body {
		font-size: 1.125em;
		line-height: 2.625em;

		@include media-query($small) {
			font-size: 1em;
		}
	}
}

/*==== Variant grid section styles ====*/

.variant-grid--container {
	text-align: center;

	a {
		text-decoration: none;
		color: $color-body-text;
	}

	img {
		border-radius: 12px;
	}

	p {
		text-transform: uppercase;
		letter-spacing: 0.07em;
		font-weight: $font-weight-bold;
	}
}

/*==== Video section styles ====*/

.video-embed {
	width: 100%;
	display: block;
	object-fit: initial;
	margin: 0 auto;
	border-radius: 12px;
}

/*==== Features list section styles ====*/

.feature--container {
	display: flex;
	align-items: center;

	@include media-query($small) {
		flex-direction: column-reverse;
	}

	@include media-query($medium-up) {
			> * {
			flex-basis: 50%;
		}
	}
}

@include media-query($medium-up) {
	.feature--container:nth-child(even) {
		flex-direction: row-reverse;
	}
}

.feature--container + .feature--container {
	margin-top: ($gutter * 2);
}

.feature__text {
	@include media-query($medium-up) {
		padding: 0 ($gutter * 2);
	}

	.feature__text__header {
		font-weight: $font-weight-bold;
		font-size: 1.25em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: ($gutter / 2);
	}

	.feature__text__body {
		line-height: 1.875em;
	}
}

.feature__image {
	text-align: center;

	img {
		border-radius: 12px;
	}

	@include media-query($small) {
		margin-bottom: $gutter;
	}
}

/*==== Text container section styles ====*/

.text-container--container {
	background-color: $color-primary;
	border-radius: 12px;
	padding: ($gutter * 3) $gutter;
	line-height: 1.7em;
	/* color is defined in section template */

	.text-container__inner {
		width: 50%;
		margin: 0 auto;
		max-width: 400px;

		@include media-query($small) {
			width: 100%;
		}
	}

	img {
		max-width: 60%;
	}
}

/*==== Footer section styles ====*/

footer {
	margin-bottom: ($gutter * 3);
}

.footer--content {
	display: flex;
	justify-content: center;

	@include media-query($medium-down) {
		flex-wrap: wrap; /* So that the logo container can have its own row */
		padding-top: 0 !important; /* to reset the offset style in footer.liquid */
	}

	.footer__item {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 50%;
		font-size: 0.875em;
		line-height: 1.75em;

		@include media-query($small) {
			flex-basis: 100%;
			text-align: center;
		}

		.footer__item__header {
			font-size: 0.9375rem;
			letter-spacing: 0.13em;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			margin-bottom: ($gutter / 2);

			@include media-query($small) {
				margin-top: $gutter;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		a {
			color: $color-body-text;
			text-decoration: none;
		}
	}

	.footer__item--logo-container {
		text-align: center;
		margin-left: ($gutter * 2);
		margin-right: ($gutter * 2);
		margin-bottom: $gutter; /* margins declared separately for offset style in footer.liquid to work */
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;

		@include media-query($medium-down) {
			flex-basis: 100%;
			margin-top: 0; /* to reset the offset style in footer.liquid */
		}

		@include media-query($small) {
			margin-bottom: 0;
		}
	}

	.footer__item--links-container {
		display: flex;
		justify-content: space-evenly;
		order: -1;

		@include media-query($medium-down) {
			order: 0;
			padding: 0 $gutter;
		}

		@include media-query($small) {
			padding: 0;
			display: block;
		}

		@include media-query($medium-up) {

		}
	}

	.footer__item__social-links {
		@include media-query($medium-up) {
			margin-left: ($gutter * 2);	
		}

		li:after {
			content: '↗';
		}
	}

	.footer__item--newsletter-container {
		#mc_embed_signup_scroll {
			position: relative;
			margin-bottom: ($gutter / 2);
			max-width: 320px;
		}

		.email-label {
			display: none;
		}

		input[type="email"] {
			padding: 1em;
			width: 100%;
			border: 2px solid $color-header-text;
			outline: none;
		}

		.button {
			position: absolute;
			top: 0;
			right: 0;
			background: $color-header-text;
			border: none;
			outline: none;
			height: 100%;
			color: $color-header-text-lightened;
			padding: 0 1em;
			text-transform: uppercase;
			letter-spacing: 0.0625em;
		}

		@include media-query($medium) {
			padding: 0 $gutter;
		}

		@include media-query($small) {
			#mc_embed_signup_scroll {
				margin-left: auto;
				margin-right: auto;
				max-width: 400px;
			}
		}
	}
}

.footer__bottom {
	text-align: center;
	font-size: 0.8125em;
	line-height: 1.85em;
	margin-top: $gutter;
}
