/*================ Site Header ================*/
.site-logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: $font-weight-bold;

  img {
    display: block;
    width: 100%;
  }

  @include media-query($small) {
  	img {
  		max-width: 24px;
  	}
  }
}

.site-nav {
	font-size: 1em;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		color: $color-body-text;
	}

	> * {
		margin: 0 $gutter;

		@include media-query($medium-down) {
			margin: 0;
		}
	}

	.site-nav__logo-container {
		flex-shrink: 0;
		padding: $gutter 0;

		@include media-query($medium) {
			flex-basis: 100%;
		}

		@include media-query($small) {
			margin: 0 ($gutter / 2);
			padding: ($gutter / 2) 0;
		}
	}

	.site-nav__linklist {
		flex-grow: 1;
		flex-shrink: 1;
		display: flex;
		align-items: center;
		text-align: center;

		> * {
			flex-shrink: 0;
		}

		@include media-query($medium-up) {
			flex-basis: 50%;
		}

		@include media-query($small) {
			flex-shrink: 0;
		}
	}

	/* Left-side link list */
	.site-nav__linklist:nth-child(2) {
		order: -1;

		@include media-query($medium-up) {
			justify-content: flex-end;
		}

		@include media-query($medium-down) {
			order: 0;
		}

		> * {
			margin-left: ($gutter * 2);

			@include media-query($medium) {
				margin: 0 ($gutter / 2);
			}

			@include media-query($small) {
				margin: 0 $gutter 0 0;
			}
		}
	}

	/* Right-side link list */
	.site-nav__linklist:nth-child(3) {
		@include media-query($medium-up) {
			justify-content: flex-start;
		}
		
		> * {
			margin-right: ($gutter * 2);

			@include media-query($medium) {
				margin: 0 ($gutter / 2);
			}

			@include media-query($small) {
				margin: 0 $gutter 0 0;
			}
		}
	}

	.icon-cart {
		position: relative;
		top: -4px;
	}

	@include media-query($medium-up) {
		margin-bottom: -$gutter;
	}

	@include media-query($medium) {
		flex-wrap: wrap;
	}

	@include media-query($small) {
		display: flex;
		position: fixed;
		top: ($gutter / 2);
		left: ($gutter / 2);
		right: ($gutter / 2);
		background: $color-body;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		z-index: 99999;
		border-radius: 12px;
		justify-content: flex-start;
	}
}
