{% for block in section.blocks %}
<div class="feature--container">
  <div class="feature__text">
    {% if block.settings.feature_header != blank %}<div class="feature__text__header">{{ block.settings.feature_header }}</div>{% endif %}
    {% if block.settings.feature_body != blank %}<div class="feature__text__body">{{ block.settings.feature_body }}</div>{% endif %}
  </div>
  <div class="feature__image">
    {% if block.settings.feature_image != blank %}
      {{ block.settings.feature_image | img_url: '480x480' | img_tag: block.settings.feature_header }}
    {% endif %}
  </div>
</div>
{% endfor %}

{% schema %}
  {
    "name": "Features list",
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "text",
            "id": "feature_header",
            "label": "Feature header"
          },
          {
            "type": "textarea",
            "id": "feature_body",
            "label": "Feature body"
          },
          {
            "type": "image_picker",
            "id": "feature_image",
            "label": "Feature image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Features list",
        "category": "Custom Content"
      }
    ]
  }
{% endschema %}
